.modal {
  font-size: 1.8rem;

  padding: 1rem 2rem;
  background-color: hsl(28, 100%, 95%);
  border: none;
  width: 50rem;
  border-radius: 10px;
  box-shadow: 0px 0px 30px -20px rgba(0, 0, 0, 0.75);

  margin: 4rem auto;
}

.modal::backdrop {
  backdrop-filter: blur(1px);
}

.form-wrapper {
}

.modal-controls {
  display: flex;
  gap: 3rem;
  margin-top: 3rem;
}

.btn-close {
  background-color: hsl(0, 100%, 75%);
}

.btn-close:hover {
  background-color: hsl(0, 100%, 65%);
}
