.modal {
  font-size: 1.8rem;

  padding: 2rem 3rem;
  background-color: var(--modal-bg-color);
  border: none;
  width: 50rem;
  border-radius: 10px;
  box-shadow: 0px 0px 30px -20px rgba(0, 0, 0, 0.75);

  margin: 4rem auto;
}

.modal-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.modal::backdrop {
  backdrop-filter: blur(1px);
}

.form-title {
  margin-bottom: 1.5rem;
}

.form-wrapper {
  margin-top: 1.5rem;
}

form {
  display: flex;
  flex-direction: column;
}

.field p {
  margin-bottom: 0.5rem;
}

input {
  padding: 0.5rem;
  background-color: var(--modal-input-color);
  font-size: 1.8rem;
  border: 1px solid var(--modal-input-border-color);
  border-radius: 5px;
  margin-bottom: 2rem;
}

label {
  margin-bottom: 0.5rem;
}

input:focus-visible {
  outline: var(--modal-input-color-focus) solid 2px;
}

.modal-controls {
  display: flex;
  gap: 3rem;
  margin-top: 3rem;
}

.btn-close {
  background-color: var(--modal-btn-cls-color);
}

.btn-close:hover {
  background-color: var(--modal-btn-cls-color-hover);
}

.error-message {
  font-size: 1.6rem;
  padding: 0.5rem;
  margin-bottom: 2rem;
  border-radius: 5px;
  background-color: var(--modal-error-msg);
}
