.posts {
  display: grid;
  grid-template-columns: repeat(3, 3fr);
  row-gap: 3.2rem;
  column-gap: 3.2rem;
}

.posts a {
  text-decoration: none;
}

.thats-all {
  font-size: 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--post-preview-bg-color);
  border-radius: 5px;
}
