* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: var(--text-color);
}

html {
  font-size: 62.5%;
}

body {
  height: 100vh;
  background-color: var(--bg-color);
  font-family: "Merriweather", serif;
  /* padding: 5vh 3vh; */
}

#root {
  display: flex;
  flex-direction: column;
  max-width: 120rem;
  height: 100%;
  margin: 0 auto;
}

.main {
  flex-grow: 1;
}

.header,
.footer {
  flex-grow: 0;
  flex-shrink: 0;
}

h1 {
  font-size: 2.8rem;
}

a:link,
a:visited {
  transition: all 0.2s;
}

a:hover {
  transition: all 0.2s;
  color: rgb(165, 144, 119);
}
